@charset "utf-8";
/* CSS Document */
body{
	margin: 5px;
}
#container{
	width: 70%;
	margin:0 auto 0 auto;
}
.cHeader{
	width: 100%;
	position: fixed;
}
ul {
  text-align: center;
  margin:0;
  padding:0;
  list-style: none;
  width: 940px;
}
ul li {
  padding-top: 10px;
  padding-left:0;
  padding-right:0;
  font: 17px Segoe UI, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  display: table-cell;
  margin-right: -4px;
  position: relative;
  width:200px;
  height: 30px;
  background: #C4B8C6;
  cursor: pointer;
}
ul li:hover {
  background: #9A79A1;
  color: #EDE8EE;
}
ul li ul {
  position: absolute;
  padding:0;
  top: 100%;
  display: none;
  opacity: 0;
  visibility: hidden; 
  width: 100%;
  background-color: #F69D71;
}
ul li ul li { 
  background: #F69D71; 
  display: table-row; 
  color: #FCF8FC;
  margin: 0;
  padding: 0;
  border: 0;
 }
ul li ul li:hover { 
	background: #F5C8B2;
	color: #E95003;
}
ul li:hover ul {
  display: table-row;
  opacity:1;
  visibility: visible;
}
.mainLinkName{
	text-decoration:none;
	color:inherit;
	padding:0;
}
.linkDivStudent,.linkDivExam,.linkDivLeader,.linkDivStat,.linkDivHome{
	text-align:center;
	font-size: 14px;
	padding-top:5px;
	padding-bottom: 5px;
	padding-right:0;
	padding-left:0;
	margin: 0;
	border: 0;
}
.linkDivStudent{
	width: 188px;
}
.linkDivExam{
	width: 192px;
}
.linkDivLeader{
	width: 187px;
}
.linkDivStat{
	width: 189px;
}
.linkDivHome{
	width: 185px;
}
.cRight{
	background-color: yellow;
	float: right;
}
.cLeft{
	background-color: red;
	float: left;
}