.content{
	width: 17%;
	height: 80%;
	float: left;
	margin-left: 15px;
	position: fixed;
	margin-top: 60px;
}
.options{
	width: 80%;
	height: 60px;
	float: left;
	margin-left: 250px;
	position: fixed;
	margin-top: 60px;
}
.info{
	background-color: green;
	width: 80%;
	height: 80%;
	margin-left: 250px;
	margin-top: 120px;
	position: fixed;
	overflow: auto;
}